
.tooltipContainer {
    position: relative;
    display: inline-block;
}

.tooltipBox {
    position: absolute;
    background-color: #242526;
    border: 1px solid #303133;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: auto;
    max-width: 400px;
    display: none;
    text-align: left;
}

.textBox {
    background-color: #1e2c4a;
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    60% {
        transform: scale(1.02);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.tooltipContainer:hover .tooltipBox {
    display: block;
    animation: bounceIn 0.18s ease;
}